<div class="card bg-light text-white mt-4">
    <img class="card-img" src="../../../assets/cancelled.jpg" alt="Card image">
    <div class="card-img-overlay">
    <div class="header">
        <h1 class="card-header">Cancelled Visits</h1>
    </div>
    <div class="row">
        <div class="col-10">
            <p class="card-title">You have 1 Cancelled visit:</p>
            <div class="card-subtitle">
              Alisa Wanshi <span class="transparentText">| Pediatrician</span> <br>
              <i class="icon-calendar"></i> <span>{{myDate | date: 'dd/MM/yyyy' }}</span>
            </div>
        </div>
        <div class="col-2" style="align-items: center;"><span class="coruse carousel-control-next-icon"></span></div>
    </div>
    </div>
</div>