<div class="card bg-light mt-4">
    <img class="card-img" src="../../../assets/doctor.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h1 class="card-header">Notification</h1>
      <p class="card-title">You have 3 visits today:</p>
      <ul class="card-subtitle">
        <strong><li>Dr. Veronica Hops <span class="transparentText">| Pediatrician</span></li></strong>
        <strong><li>Dr. Albert Novikov <span class="transparentText">| Pediatrician</span></li></strong>
        <strong><li>Dr. Marta Krouf <span class="transparentText">| Pediatrician</span></li></strong>
      </ul>
    </div>
</div>